language: python

python:
  - 3.6
  - 3.7

dist: xenial
sudo: true

cache:
  pip: true
  directories:
    - tests/data

before_install:
  - pip install -U pipenv

install:
  - pipenv install --deploy -d --python $TRAVIS_PYTHON_VERSION

before_script:
  - pipenv run python setup.py build_ext --inplace

script:
  - pipenv run pytest
