[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
astropy = "*"
h5py = "*"
tqdm = "*"
extinction = "*"

[dev-packages]
sphinx-rtd-theme = "*"
pytest = "*"
pydot = "*"
pylint = "*"
autopep8 = "*"
rope = "*"
pytest-cov = "*"
doc8 = "*"
sphinx = "*"
coveralls = "*"

[pipenv]
allow_prereleases = true
