[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
cython = "*"
scikit-learn = "*"
astropy = "*"
h5py = "*"
corner = "*"
tqdm = "*"
pyyaml = "~=4.2b1"
oyaml = "*"
emcee = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
graphviz = "*"
pytest = "*"
