<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>
<h1> {{ title }} </h1>


<h2>Stellar Parameters</h2>
<img src= {{ hist_param }} width=800 />

<h2> config.yaml values</h2>
<div>
<dl>
{% for key,value in config|dictsort %}
    <dt><strong> {{ key|e }}</strong></dt>
    <dd>{{ value|e }}</dd>
{% endfor %}
</dl>
</div>

<h2>Nuisance Parameters</h2>
<div>
{% for image in nuisance_images|sort %}
<img src= {{ image }} width=400 />
{% endfor %}
</div>

<h2>Visualizations</h2>
<div>
{% for key,mini_dict in sample_dict|dictsort %}
    <h3> {{ key|e }} </h3>
    <strong>lnprob:</strong> {{"%.2f"|format(mini_dict['lnp'])}} <br />
    <strong>Temp:</strong> {{"%.1f"|format(mini_dict['p'][0])}} K, <strong>log g: </strong> {{"%.2f"|format(mini_dict['p'][1])}} dex,
    <strong>Z: </strong> {{"%.2f"|format(mini_dict['p'][2])}} dex, <strong>v sini: </strong> {{"%.2f"|format(mini_dict['p'][3])}} km/s,
    <strong>vz: </strong> {{"%.2f"|format(mini_dict['p'][4])}} km/s, <strong>Av: </strong> {{"%.2f"|format(mini_dict['p'][5])}} mag,
    <strong>R^2/d^2: </strong> {{"%.2e"|format(mini_dict['p'][6])}} <br />
    <strong>cs: </strong> {{ mini_dict['p'][7:]}} <br />

    {% for image in mini_dict['images']|sort %}
        <img src= {{ image }} width=400 />
    {% endfor %}
{% endfor %}
</div>


</body>
</html>