---
layout: post
title:  "Post {{ num }}"
date: {{ date }}
categories: {{ categories }}
---

<h1> Stellar Parameters </h1>
<div class="row">
  <div class="col-md-6">
  <img src="{{ jekyll_asset_path }}stellar_triangle.png" class="img-responsive"/>
  </div>
  <div class="col-md-6">
  <img src="{{ jekyll_asset_path }}stellar_chain_pos.png" class="img-responsive"/>
  </div>
</div>

<h1>Orders </h1>
{% for order in orders %}
<h2>Order {{ order }}</h2>
<h3>Spectral Sample from posterior</h3>
{{ flot_plots[order] }}
<h3>Chebyshev</h3>
<div class="row">
  <div class="col-md-6">
  <img src="{{ jekyll_asset_path }}/{{ order }}/cheb_triangle.png" class="img-responsive"/>
  </div>
  <div class="col-md-6">
  <img src="{{ jekyll_asset_path }}/{{ order }}/cheb_chain_pos.png" class="img-responsive"/>
  </div>
</div>
<h3>Global Covariance</h3>
<div class="row">
  <div class="col-md-6">
  <img src="{{ jekyll_asset_path }}/{{ order }}/cov_triangle.png" class="img-responsive"/>
  </div>
  <div class="col-md-6">
  <img src="{{ jekyll_asset_path }}/{{ order }}/cov_chain_pos.png" class="img-responsive"/>
  </div>
</div>
{% endfor %}
