---
layout: post
title:  "Post {{ num }}"
date: {{ date }}
categories: {{ categories }}
---

<div class="row">
  <div class="col-md-6">
  <img src="{{ jekyll_asset_path }}stellar_triangle.png" class="img-responsive"/>
  </div>
  <div class="col-md-6">
  Stellar chain convergence
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  Samples
  </div>
  <div class="col-md-6">
  Samples
  </div>
</div>