name: CI

on: [push, pull_request]

jobs:
  test:
    name: Python ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version: ["3.6", "3.7", "3.8"]
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        arch: ["x64"]

    steps:
      - uses: actions/checkout@v2
      - name: Setup python ${{ matrix.version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.version }}
          architecture: ${{ matrix.arch }}
      - name: Install Project and Dependencies
        run: |
          pip install -U pip
          pip install .[test]
      - name: Cache Test Data
        uses: actions/cache@v1
        with:
          path: tests/data
          key: ${{ runner.os }}-test-data
      - name: Test
        run: |
          pytest --cov=Starfish --cov-report=xml --benchmark-skip --black
      - name: Coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
